.button {
    border: 0.2rem solid;
    border-radius: 1rem;
    border-color: #202588;
    display: flex;
    align-items: center;
    margin-right: 1rem;
    padding: 1rem 1rem;
    padding-inline: 1rem;
}

.button button {
    margin-left: 0.5rem;
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
    color: #202588;
    transition: 0.5s ease;
}

.button button:hover{
    color: rgb(203, 147, 255);
}